.array-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    position: relative;
    margin: auto;
}

.array-bar {
  
    background: #cca8e9;

    margin: 0px 1px;
    border-radius: 3px;
}
